<!doctype html>
<title class="blog_title">{% block title %}{% endblock %} - HTMX Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
<nav class="blog_nav">
    <h1 hx-get="{{ url_for('blog.posts') }}"
        hx-trigger="click"
        hx-target=".content"
        hx-swap="innerHTML">HTMX Blog</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="#"
               hx-get="{{ url_for('auth.logout') }}"
               hx-trigger="click"
               hx-target=".content"
               hx-swap="innerHTML">Log Out</a>
        {% else %}
        <li><a href="#"
               hx-get="{{ url_for('auth.register') }}"
               hx-trigger="click"
               hx-target=".content"
               hx-swap="innerHTML">Register</a>
        <li><a href="#"
               hx-get="{{ url_for('auth.login') }}"
               hx-trigger="click"
               hx-target=".content"
               hx-swap="innerHTML">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>