<header>
  <h1>New Post</h1>
</header>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form>
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] }}" required>
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
  <input type="submit"
         value="Save"
         hx-post="{{ url_for('blog.create') }} "
         hx-trigger="click"
         hx-target=".content"
         hx-swap="innerHTML">
</form>

{# Out of Band (OOB) Swap for page title #}
<title class="blog_title" hx-swap-oob="outerHTML:.blog_title">New Post - HTMX Blog</title>