<header>
  <h1>Posts</h1>
  {% if g.user %}
  <a class="action"
     href="#"
     hx-get="{{ url_for('blog.create') }}"
     hx-trigger="click"
     hx-target=".content"
     hx-swap="innerHTML">New</a>
  {% endif %}
</header>
{% for post in posts %}
<article class="post">
  <header>
    <div>
      <h1>{{ post['title'] }}</h1>
      <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
    </div>
    {% if g.user['id'] == post['author_id'] %}
    <a class="action"
       href="#"
       hx-get="{{ url_for('blog.update', id=post['id']) }}"
       hx-trigger="click"
       hx-target=".content"
       hx-swap="innerHTML">Edit</a>
    {% endif %}
  </header>
  <p class="body">{{ post['body'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

{# Out of Band (OOB) Swap for page title #}
<title class="blog_title" hx-swap-oob="outerHTML:.blog_title">Posts - HTMX Blog</title>

{# Out of Band (OOB) Swap for pag navigation #}
<nav class="blog_nav" hx-swap-oob="outerHTML:.blog_nav">
  <h1 hx-get="{{ url_for('blog.posts') }}"
      hx-trigger="click"
      hx-target=".content"
      hx-swap="innerHTML">HTMX Blog</h1>
  <ul>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span>
    <li><a href="#"
           hx-get="{{ url_for('auth.logout') }}"
           hx-trigger="click"
           hx-target=".content"
           hx-swap="innerHTML">Log Out</a>
    {% else %}
    <li><a href="#"
           hx-get="{{ url_for('auth.register') }}"
           hx-trigger="click"
           hx-target=".content"
           hx-swap="innerHTML">Register</a>
    <li><a href="#"
           hx-get="{{ url_for('auth.login') }}"
           hx-trigger="click"
           hx-target=".content"
           hx-swap="innerHTML">Log In</a>
      {% endif %}
  </ul>
</nav>