<header>
  <h1>Edit "{{ post['title'] }}"</h1>
</header>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form>
  <label for="title">Title</label>
  <input name="title" id="title"
         value="{{ request.form['title'] or post['title'] }}" required>
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
  <input type="submit"
         value="Save"
         hx-post="{{ url_for('blog.update', id=post['id']) }}"
         hx-trigger="click"
         hx-target=".content"
         hx-swap="innerHTML">
</form>
<hr>
<form>
  <input class="danger"
         type="submit"
         value="Delete"
         hx-post="{{ url_for('blog.delete', id=post['id']) }}"
         hx-trigger="click"
         hx-target=".content"
         hx-swap="innerHTML"
         hx-confirm='Are you sure?'>
</form>

{# Out of Band (OOB) Swap for page title #}
<title class="blog_title" hx-swap-oob="outerHTML:.blog_title">Edit "{{ post['title'] }}" - HTMX Blog</title>